<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crown Cleaning</title>

    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav class="nav">
      <div class="nav__brand">
        <a href="/">
          Crown Cleaning
        </a>
      </div>
      <div class="nav__buttons">
        <% if(!isLogged) { %>
        <a href="/register">
          <button type="button" name="button">Zarejestruj się</button>
        </a>
        <a href="/login">
          <button type="button" name="button">Zaloguj się</button>
        </a>
        <% } else { %>
          <a href="/user/<%= id %>">
            <button type="button" name="button">Panel użytkownika</button>
          </a>
          <a href="/login">
            <button type="button" name="button">Oferty</button>
          </a>
          <% } %>
      </div>
    </nav>
