<%- include('partials/header')  %>

<div class="section__offers">
  <h1>Najnowsze oferty</h1>
  <% offersArr.forEach((offer) => { %>
    <a href="/offer/<%= offer._id %>">
    <div class="offer__box">
      <h3 class="offer__title">
        <%= offer.title %>
      </h3>
      <p class="offer__description">
        <%= offer.description.slice(0, 15) + '...' %>
      </p>
      <div class="offer__info-box">
        <p class="offer__city">
          <%= offer.city %>
        </p>
        <p class="offer__type">
          <%= offer.type %>
        </p>
      </div>
      <p class="offer__price">
        <%= offer.price + ' pln' %>
      </p>
    </div>
    </a>

  <% }); %>
  <form action="/offer/search/type" method="get">
    <h3>Szukaj po rodzaju</h3>
    <div>
      <label for="1">Odkurzanie</label>
      <input id="1" type="checkbox" value="Odkurzanie" name="type">
    </div>
    <div>
      <label for="2">Mycie auta</label>
      <input id="2" type="checkbox" value="Mycie auta" name="type">
    </div>
    <div>
      <label for="3">Zamiatanie</label>
      <input id="3" type="checkbox" value="Zamiatanie" name="type">
    </div>
    <div>
      <label for="4">Mycie okien</label>
      <input id="4" type="checkbox" value="Mycie okien" name="type">
    </div>

    <button type="submit">Szukaj</button>
  </form>

  <form action="/offer/search/price" method="get">
    <h3>Szukaj po cenie</h3>
    <input type="number" placeholder="cena" step="1" name="price" value="">
    <button type="submit">Szukaj</button>
  </form>

  <form action="/offer/search/city" method="get">
    <h3>Szukaj po lokalizacji</h3>
    <select class="" name="city">
      <option value="Opole">Opole</option>
      <option value="Warszawa">Warszawa</option>
      <option value="Kraków">Kraków</option>
      <option value="Gdynia">Gdynia</option>
    </select>
    <button type="submit">Szukaj</button>
  </form>

  <form action="/offer/search/all" method="get">
    <h3>Szukaj z 3 filtrami</h3>
    <select class="" name="city">
      <option value="Opole">Opole</option>
      <option value="Warszawa">Warszawa</option>
      <option value="Kraków">Kraków</option>
      <option value="Gdynia">Gdynia</option>
    </select>
    <input type="number" placeholder="cena" step="1" name="price">
    <div>
      <label for="1">Odkurzanie</label>
      <input id="1" type="checkbox" value="Odkurzanie" name="type">
    </div>
    <div>
      <label for="2">Mycie auta</label>
      <input id="2" type="checkbox" value="Mycie auta" name="type">
    </div>
    <div>
      <label for="3">Zamiatanie</label>
      <input id="3" type="checkbox" value="Zamiatanie" name="type">
    </div>
    <div>
      <label for="4">Mycie okien</label>
      <input id="4" type="checkbox" value="Mycie okien" name="type">
    </div>
    <button type="submit">Szukaj</button>
  </form>
</div>

<%- include('partials/footer')  %>
