<%- include('partials/header')  %>

<div class="section__offers">
  <h1 class="offer__title"> <%= offer.title %> </h1>
  <p class="offer__description"><%= offer.description %></p>
  <p class="offer__city">
    Miejsce oferty: <%= offer.city %>
  </p>
  <p class="offer__type">
    Typ oferty: <%= offer.type %>
  </p>
  <p class="offer__price">
    <%= offer.price %> zł
  </p>
  <p class="offer__price">
    Wykonawcy:
    <% if(offer.workers[0]) { %>
      <ul>
      <%= offer.workers.forEach((worker) => { %>
        <li><%= worker %></li>
      <%});} else {%>
        <li>brak wykonawców</li>
        <%}%>
  </p>

  <form action="offer/<%= offer._id %>/work" method="post">
    <button type="submit" name="button"></button>
  </form>
</div>

<%- include('partials/footer')  %>
