<%- include('partials/header')  %>

<div class="section__offers">
  <h1><%= message %></h1>
  <% offersArr.forEach((offer) => { %>
    <a href="/offer/<%= offer._id %>">
    <div class="offer__box">
      <h3 class="offer__title">
        <%= offer.title %>
      </h3>
      <p class="offer__description">
        <%= offer.description.slice(0, 15) + '...' %>
      </p>
      <div class="offer__info-box">
        <p class="offer__city">
          <%= offer.city %>
        </p>
        <p class="offer__type">
          <%= offer.type %>
        </p>
      </div>
      <p class="offer__price">
        <%= offer.price + ' pln' %>
      </p>
    </div>
    </a>

  <% }); %>
</div>
<%- include('partials/footer')  %>
