<%- include('partials/header')  %>

<div class="section">
  <h1>Twoje dane</h1>

  <ul>
    <li>Nazwa użytkownika: <%= user.username %></li>
    <li>E-mail: <%= user.mail %></li>
  </ul>

  <h1>Zmień swoje dane</h1>

  <h2>Nazwa użytkownika</h2>

  <form class="" action="/user/<%= user._id %>/username" method="post">
    <input type="text" name="username" required>
    <button type="submit">Zmień</button>
  </form>

  <h2>E-mail</h2>

  <form class="" action="/user/<%= user._id %>/mail" method="post">
    <input type="email" name="mail" required>
    <button type="submit">Zmień</button>
  </form>

  <h2>Hasło</h2>

  <form class="" action="/user/<%= user._id %>/password" method="post">
    <input type="password" name="password" required>
    <button type="submit">Zmień</button>
  </form>

  <h1>Dodaj ofertę</h1>
  <form  class="user__form" action="/offer/add" method="post">
    <input type="text" name="title" placeholder="Nazwa zlecenia" required>
    <textarea name="description" rows="8" cols="80">Opis...</textarea>
    <select class="" name="city">
      <option value="Opole">Opole</option>
      <option value="Warszawa">Warszawa</option>
      <option value="Kraków">Kraków</option>
      <option value="Gdynia">Gdynia</option>
    </select>
    <input type="number" step="1" name="price">
    <div>
      <label for="1">Odkurzanie</label>
      <input id="1" type="checkbox" value="Odkurzanie" name="type">
    </div>
    <div>
      <label for="2">Mycie auta</label>
      <input id="2" type="checkbox" value="Mycie auta" name="type">
    </div>
    <div>
      <label for="3">Zamiatanie</label>
      <input id="3" type="checkbox" value="Zamiatanie" name="type">
    </div>
    <div>
      <label for="4">Mycie okien</label>
      <input id="4" type="checkbox" value="Mycie okien" name="type">
    </div>

    <button type="submit" name="button">Dodaj</button>
  </form>
</div>

<%- include('partials/footer')  %>
