*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

body {
  font-family: arial, sans-serif;
  margin-top: 50px;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
}

.footer {
  text-align: center;
  background-color: lightblue;
  padding: 10px 20px;
}

.section {
  padding: 5% 7%;
}

.user__form {
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
}

/* Offers */
.section__offers {
  padding: 5% 7%;
}

.offer__box {
  border: 1px solid lightgrey;
  margin: 10px auto 25px auto;
  padding: 3% 5%;
  border-radius: 3px;
  width: 250px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0,0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offer__title {
  font-size: 24px;
}

h1, h2, h3 {
  margin: 5px 0 10px 0;
  font-weight: normal;
}

input {
  margin: 10px 0;
}
